<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="headercss">
        <header class="header black-bg">
            <div class="sidebar-toggle-box">
                <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation">
                </div>
            </div>
            <!--logo start-->
            <a th:href="@{/}" class="logo"><b>ACE<span>MAN</span></b></a>
            <!--logo end-->

            <div class="top-menu">
                <ul class="nav pull-right top-menu">
                    <li><a class="logout" th:href="@{/login}">Logout</a></li>
                </ul>
            </div>
        </header>
    </div>
</html>