<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

    <head>
    <meta charset="UTF-8"/>
    <title>Error 403 - Access Is Denied</title>
    <!--<link rel="icon" href="#" th:href="@{/img/favicon.ico}" type="image/x-icon"/>-->
</head>
<body>
<div layout:fragment="content">
    
    <!--==========================
    Login Section
    ============================-->
    
    <section id="login" class="clearfix">
<!--    <div class="overlay"></div>-->
    <div class="container d-flex h-100">

    <div class="login">
        <div class="login-info">
            <h2>Error 403 - Access Is Denied</h2>
            <div class="desc" th:inline="text">Hello '[[${#httpServletRequest.remoteUser}]]', 
                you do not have permission to access this page.
            </div>
            <div>
                <a href="#" onclick="history.go(-1)" class="btn-get-started scrollto"><i class="fa fa-arrow-left"></i> Go Back</a>
            </div>
        </div>
      </div>

    </div>      
  </section><!-- #login -->
  
    
</div>
     
</body>
</html>